@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto 
    bg-gray-800 text-yellow-500
    hover:bg-yellow-500 hover:text-white
    rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear
    cursor-pointer;
  }
  .newGameButton {
    @apply  items-center justify-end
    h-14 w-20 my-2 mb-2 mx-2
    bg-gray-700 text-yellow-500
    hover:bg-yellow-500 hover:text-white
    rounded-xl hover:rounded-md
    transition-all duration-300 ease-linear
    cursor-pointer;
  }

  .button {
    @apply items-center justify-center
    h-14 w-20 my-2 mb-2 mx-2
    bg-gray-700 text-yellow-500
    hover:bg-yellow-500 hover:text-white
    rounded-xl hover:rounded-md
    transition-all duration-300 ease-linear
    cursor-pointer;
  }
  .hintBoxes {
    @apply  bg-gray-700 text-yellow-500  text-wrap rounded-lg p-2 text-center flex items-center justify-center w-56 mx-auto h-20 break-normal;
  }
  .categoryBox {
    @apply  bg-gray-700 text-yellow-500 rounded-lg p-2 text-center flex items-center justify-center w-96 mx-auto my-2 h-14;
  }

  .resultStats {
    @apply  bg-gray-700 text-yellow-500 p-2 flex items-center justify-center w-full h-full mx-auto;
  }
  .nav {
    @apply top-0 left-0 w-full h-14 m-0 
    flex flex-row justify-between items-center bg-gray-700 text-white shadow-md;
  } 
  .settings-menu {
    @apply  relative flex items-center justify-center mt-20 m-auto h-80 w-1/4 rounded-2xl  bg-gray-700 text-white shadow-md;
  }

  .alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
  
}


