asgiref==3.7.2
beautifulsoup4==4.12.3
black==24.2.0
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Django==5.0.2
django-extensions==3.2.3
idna==3.6
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
urllib3==2.2.1
