<html>
    <head>
        <title>Users</title>
    </head>
    <body>
        <h1>
            users are: {{ users}}
        </h1>
            <button id="click">Delete User</button>
            <button id="click2">Add User</button>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            $("#click").click(function(){

            $.ajax({
                type: "GET",
                url: "/delete",
                success: function(response)
                {
                    alert(response)
                }
            });
        });
        </script>
        <script>
            $("#click2").click(function(){

            $.ajax({
                type: "GET",
                url: "/add",
                success: function(response)
                {
                    alert(response)
                }
            });
        });
        </script>
    </body>
</html>